version: '3.2'
networks:
  default:
    external:
      name: mediocre-network

services:
  buckaroo-banzai:
    restart: always
    command: /wait-for redis:6379 -- /buckaroo-banzai
    image: ${DOCKER_IMAGE}
    environment:
      - SLACK_TOKEN
      - STELLAR_DOMAIN
      - STELLAR_SEED
      - STELLAR_LIVE_NET
      - STELLAR_HTTP_NET_LISTEN_ADDR=:8000
      - BANK_REDIS_ADDR=redis:6379
      - STELLAR_REDIS_ADDR=redis:6379
    depends_on:
      - redis

  redis:
    restart: always
    image: redis
    command: redis-server /etc/redis.conf
    volumes:
      - type: bind
        source: ./redis_db
        target: /data
      - type: bind
        source: ./redis.conf
        target: /etc/redis.conf
        read_only: true

